@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


* {
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    font-size: 1.2rem;
}

body {
    background-color: #fcf6ee;
    font-family: 'Montserrat', sans-serif;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#map {
    height: 300px;
}

#map, #reviews {
    width: 60vw;
    border-radius: .4rem;
    margin: 2.4rem;
}

ul {
    display: flex;
}

li {
    list-style: none;
    font-size: .8rem;
    padding: 0 0 1.6rem 1.6rem;
}

a, footer a {
    text-decoration: none;
    font-weight: 600;
}

a {
    color: #3d0718;
}

footer a {
    color: #fcf6ee;
}

footer {
    background-color: #3d0718;
    color: #fcf6ee;
    font-size: .8rem;
    padding: 2.4rem;
}