/**/

.main-one-page {
    width: 60vw;
    padding: 4rem 0;
}

.main-one-page h1, .main-one-page h2, .main-one-page h3, .main-one-page h4 {
    font-weight: 600;
    padding: 1.6rem 0 .8rem 0;
}

.main-one-page h1, .main-one-page h2, .main-one-page h3, .main-one-page h4, .main-one-page p {
    color: #3d0718;
    padding: .8rem 0 .4rem 0;
}

.main-one-page h1 {
    font-size: 3.6rem;
    padding-bottom: 2rem;
}

.main-one-page h2 {
    font-size: 1.8rem;
}

.main-one-page p, b {
    font-size: 1.2rem;
    line-height: 2;
}

.main-one-page a {
    font-weight: normal !important;
}

b {
    color: #3d0718;
}